@import "node_modules/bootstrap-material-design/scss/variables/colors";

$font-family-sans-serif: Roboto, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
$font-family-serif: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "ＭＳ 明朝", "メイリオ", Meiryo, "Times New Roman", serif;
// $font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$theme-colors: (
  "primary": #0074d9,
  //"danger": #ff4136,
  "blue": #376ce2,
  "navy": #191970,
  "green": #26c13a,
  "yellow": #f5ec1d,
  "orange": #ff4500,
);
