/*----- 以下、テキストの微変更用 -----*/
.small {
	font-size: 85%;
}
.moresmall {
	font-size: 60%;
}
.big {
	font-size: 120%;
}
.morebig {
	font-size: 150%;
}
.b {
	font-weight: bold;
}
.u {
	text-decoration: underline;
}
.torikesi {
	text-decoration: line-through;
}
