$blue       : #1c50aa;
$dark-blue  : #0a3754;
$green      : #1faa1c;
$dark-green : #1d7737;
$yellow     : #d98310;
$dark-yellow: #613d0d;
$red        : #bf3434;
$dark-red   : #4b1717;

@import "base";

body {
  margin          : 0;
  padding         : 0;
  color           : #131c16;
  background-color: #f2faff;
  font-family     : $gothic;
  font-size       : 17px;
  letter-spacing: 0.08rem;
}

p {
  margin        : 8px 0;
  font-size     : 100%;
  letter-spacing: 0.1rem;
}

button {
  margin-right: 8px;
}

// テキストの調整 small, big など
@import "text_decoration";
